html {
    font-size: 62.5%;
}

/* GENERAL STYLING */
* {
    font-family: 'Open Sans', sans-serif;
 }
 
 body {
    background-color: rgba(202, 137, 76, 1);
    background-image: url(images/martin-sanchez-rFh890jKgcs-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }

 section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
 }
 
 a {
    list-style-type: none;
    padding: 0;
    margin: 0; 
 }


/* NAVIGATION */
 nav {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    /* background: #FFFFFF; */
  }
  
  .nav-list {
    padding: 1em;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .nav-tabs {
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
  }
  .nav-item {
    list-style: none;
    margin-right: 2rem;
  }
  
  .nav-item a {
    font-size: 2.0rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px;
  }

  .button a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 200;
   color: #FFFFFF;
   text-transform: uppercase;
   background-color: #424B5A;
   padding: 12px 48px;
   border-radius: 8px;
   border: none;
   height: 41px;
   width: 178px;
   text-align: center;
   white-space: nowrap;
}

/* HERO SECTION*/
.hero {
    display: flex;
    flex-direction: column;
    background-image: url(images/Image-1.jpg);
    background-size: 100% 100%;
    background-color: #A1AEB7;
    color: #FFFFFF;
    text-align: left;
    padding: 400px;  
}

.hero-item {
    display: none;
    /* display: flex;
justify-content: flex-start;
padding: 25px; */
}

.hero h1 {
    display: none;
    /* font-size: 6.6rem;
    font-weight: 300;
    color: #FFFFFF;
    margin: 0; */
}

.hero p {
    display: none;
    /* font-size: 1.6rem;
    font-weight: 300;
    padding-bottom: 54px;
    text-align: left;
    margin: 0; */
}


.clickable {
    display: flex;
    flex-flow: row nowrap;
justify-content: space-between;
}

.learn {
    font-size: 1.6rem;
    color: #FFFFFF;
    font-weight: 300;
    text-decoration: underline;
    padding-left: 58px;
    margin: 0;
    padding: 0px 48px;
}

/* HOW IT WORKS SECTION */
.how-it-works {
    background-color: rgb(255,255,255, .10);
    padding: 25px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
 }

 .steps {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    padding: 10px;
 }

 .step {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 50px;
 
 }
 .step p {
text-align: center;
margin: auto;
 }

 .how-it-works h2, h3, a {
    color: #ffffff;
    margin: auto;
    padding: 10px;
 }
 

.how-it-works h3 {
    font-size: 2.8rem;
    font-weight: 400;
}

 .how-it-works p {
    color: #ffffff;
    font-size: 2.0rem;
    padding-bottom: 10px;
 }

 .how-it-works a {
    text-decoration: underline;
    font-size: 1.6rem;
    color: #424B5A;
    margin: auto;
    padding-bottom: 50px;
 }

 /* RESOURCES SECTION */
 .resource-section {
    /* background-color: #F2F5F7; */
    font-weight: 300;
    padding: 50px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
 }

 .resources {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 30px;
    padding: 30px;
 }


 .resources p {
    font-size: 2.4rem;
    color: #ffffff;
    margin: auto;
    padding: 25px 500px 25px 75px;
    text-align: left;
}

/*  CALL TO ACTION SECTION */
.cta-section {
    background-color: rgba(202, 137, 76, 1);
    font-weight: 300;
    padding: 50px 75px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
 }

.ctas {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
 }

 .cta {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: rgba(202, 137, 76, 1);
    align-items: baseline;
    margin: 0;
    padding: 25px;
    margin: 1vw;
 }

.cta h3, p {
    color: #FFFFFF;
    margin: 0;
    text-align: left;
}

.cta h3 {
    font-size: 2.1rem;
    margin: 0;
    padding: 0;
    text-align: left;
}

.cta p {
    font-size: 1.6rem;
    padding-top: 20px;
}

.button1 {
    padding: 25px;
}

.button1 a {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 200;
   color: #FFFFFF;
   text-transform: uppercase;
   border: 2px solid #FFFFFF;
   /* background-color: #424B5A; */
   padding: 12px 48px;
   border-radius: 8px;
   height: 41px;
   width: 178px;
   text-align: center;
   white-space: nowrap;
}

.button2 a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 200;
   color: #424B5A;
   text-transform: uppercase;
   background-color: #FFFFFF;
   padding: 12px 48px;
   border-radius: 8px;
   border: none;
   height: 41px;
   width: 178px;
   text-align: center;
   white-space: nowrap;
}

/* FOOTER SECTION */
.footer-section {
    background-color: rgba(186, 96, 43, 1);
    display: flex;
    flex-direction: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 0px 25px;
}



.footer-lists {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin: 50px 0px;
}


.footer-lists p {
    color: #FFFFFF;
    font-size: 3.2rem;
    padding: 10px 0px;
    line-height: 1.5em;
}

.footer-logo {
    flex-grow: 2;
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

.footer-logo img {
    padding: 0px 15px;
}

.footer-logo p {
    padding: 0px 15px;
}

.footer-lists:nth-child(1) {
flex-wrap: wrap;
flex-basis: 30%;
padding-top: 25px;
}

.footer-list {
    padding-left: 20px;
    padding-right: 75px;
}

.footer-list h4 {
    color: #ffffff;
    font-size: 2.8rem;
    font-weight: 400;
    padding-bottom: 10px;
    margin: 0px;
}

.footer-list a {
    text-decoration: none;
    color: #ffffff;
    font-size: 2.0rem;
    padding: 0;
    text-align: left;
    line-height: 2em;
  }

  .footer-list:nth-child(2) {
    border-left: 0.5px solid #ffffff;
}

.footer-list:nth-child(3) {
    border-left: 0.5px solid #ffffff;
    padding-right: 0;
}

/* COPYRIGHT SECTION */
.copyright {
    /* border-top: 0.5px solid #ffffff; */
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0px 50px;
    padding: 5px 50px;
}

.copyright a  {
    text-underline-offset: 3px;
    color: #ffffff;
    font-size: 1.4rem;
    padding: 0;
    text-align: left;
    line-height: 2em;
    margin: 0;
}

.copyright p {
    color: #ffffff;
    font-size: 1.4rem;
}